gpg:&nbsp;Signature&nbsp;made&nbsp;2016-03-07T21:59:51&nbsp;CET<br/>
gpg:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;using&nbsp;RSA&nbsp;key&nbsp;0x98FEC6BC752A3DB6<br/>
gpg:&nbsp;Good&nbsp;signature&nbsp;from&nbsp;"Tails&nbsp;developers&nbsp;(offline&nbsp;long-term&nbsp;identity&nbsp;key)&nbsp;&lt;tails@boum.org&gt;"&nbsp;[full]<br/>
gpg:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;aka&nbsp;"Tails&nbsp;developers&nbsp;&lt;tails@boum.org&gt;"&nbsp;[unknown]<br/>
Primary&nbsp;key&nbsp;fingerprint:&nbsp;A490&nbsp;D0F4&nbsp;D311&nbsp;A415&nbsp;3E2B&nbsp;&nbsp;B7CA&nbsp;DBB8&nbsp;02B2&nbsp;58AC&nbsp;D84F<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subkey&nbsp;fingerprint:&nbsp;BA2C&nbsp;222F&nbsp;44AC&nbsp;00ED&nbsp;9899&nbsp;&nbsp;3893&nbsp;98FE&nbsp;C6BC&nbsp;752A&nbsp;3DB6<br/>
